
*obj/
.vs/Sokoban/v15/.suo
.vs/*

.vs/Sokoban/v15/Server/sqlite3/storage.ide-wal
.vs/Sokoban/v15/Server/sqlite3/storage.ide-wal
.vs/Sokoban/v15/Server/sqlite3/storage.ide-shm
.vs/Sokoban/v15/Server/sqlite3/storage.ide
.vs/Sokoban/v15/.suo
